<settings>
<proxies>
<proxy>
<active>true</active>
<protocol>http</protocol>
<host>192.109.76.92</host>
<port>8080</port>
</proxy>

</proxies>

<profiles>
    <profile>
        <id>downloadSources</id>
        <properties>
            <downloadSources>true</downloadSources>
            <downloadJavadocs>true</downloadJavadocs>
        </properties>
    </profile>
</profiles>

<activeProfiles>
    <activeProfile>downloadSources</activeProfile>
</activeProfiles>
</settings>

